.popover {
  position: relative;
  max-width: 16rem;
  box-shadow: 0 10px 15px -3px var(--shadow), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding: 1rem;
  border: 1px solid var(--separator);
  border-radius: 0.5rem;
  background-color: var(--references-bg);
  max-height: 16rem;
  overflow: hidden;
}

.popover.no-max-width {
  max-width: 90vw;
}

.popover.with-markdown {
  font-size: 0.875rem;
}

.popover h1 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.popover ul {
  padding-left: 1rem;
}

.popover .more-content-blind {
  height: 4rem;
  position: absolute;
  background: transparent;
  background: linear-gradient(
    0,
    var(--references-bg) 0%,
    var(--references-bg-80) 50%,
    var(--references-bg-0) 100%
  );
  top: 12rem;
  width: 100%;
  left: 0;
}

/* copied from tippy.js/animations/shift-away.css */
.tippy-box[data-animation="shift-away"][data-state="hidden"] {
  opacity: 0;
}
.tippy-box[data-animation="shift-away"][data-state="hidden"][data-placement^="top"] {
  transform: translateY(10px);
}
.tippy-box[data-animation="shift-away"][data-state="hidden"][data-placement^="bottom"] {
  transform: translateY(-10px);
}
.tippy-box[data-animation="shift-away"][data-state="hidden"][data-placement^="left"] {
  transform: translateX(10px);
}
.tippy-box[data-animation="shift-away"][data-state="hidden"][data-placement^="right"] {
  transform: translateX(-10px);
}
