.reference {
  text-decoration: none;
}

.reference:hover {
  color: #4a5568;
}

.reference > div {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.reference > div > p {
  margin: 0;
  font-size: 0.875rem;
}

.reference > div > ul {
  margin: 0;
}
