html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
}

body.dark-mode {
  --main-bg: #000000;
  --note-bg: #0a0d11;
  --text: #fafafc;
  --separator: #252525;
  --shadow: rgba(255, 255, 255, 0.1);
  --link: #3da1ff;
}

body.light-mode {
  --main-bg: #fafafc;
  --note-bg: #ffffff;
  --text: #1a202c;
  --separator: #e2e8f0;
  --shadow: rgba(0, 0, 0, 0.1);
  --link: #3182ce;
}

body {
  background-color: var(--main-bg);
  color: var(--text);
  margin: 0;
  padding: 0;
  height: 100vh;
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: 0;
}

*,
:after,
:before {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-weight: 700;
}

hr {
  border: 0 solid var(--separator);
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-top-width: 1px;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

a {
  color: var(--link);
  text-decoration: underline;
  transition: color 0.3s ease;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-size: 1.875rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
  min-height: 44px;
  z-index: 5;
  background-color: var(--note-bg);
  border-bottom: 1px solid var(--separator);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-wrap: wrap;
  transition: background-color 0.3s ease;
}

header > a {
  font-weight: 700;
  color: var(--text);
  text-decoration: none;
  transition: color 0.3s ease;
}

.note-columns-scrolling-container {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  flex-grow: 1;
}

.note-columns-container {
  display: flex;
  flex-grow: 1;
  transition: width 100ms cubic-bezier(0.19, 1, 0.22, 1);
}

@media screen and (max-width: 800px) {
  .note-columns-container {
    width: unset !important;
  }
}
