html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: 0;
}

*,
:after,
:before {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-weight: 700;
}

hr {
  border: 0 solid #e2e8f0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-top-width: 1px;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.layout {
  color: #1a202c;
  padding-left: 1rem;
  padding-right: 1rem;
  min-height: 100vh;
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

a {
  color: #3182ce;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

header {
  padding: 0.5rem 1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  border: 0 solid #e2e8f0;
  border-bottom-width: 1px;
  margin-bottom: 1rem;
}

header > a {
  font-weight: 700;
  color: #1a202c;
  text-decoration: none;
}

h1 {
  font-size: 1.875rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}
