/*********** TYPOGRAPHY **************/

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
}

/*********** LIGHT MODE **************/

body.light-mode {
  --main-bg: #fafafc;
  --note-bg: #ffffff;
  --text: #1a202c;
  --separator: #e2e8f0;
  --shadow: rgba(0, 0, 0, 0.1);
  --link: #3182ce;

  /* References */
  --references-bg: #ebf4ff;
  --references-bg-80: rgb(235, 244, 255, 0.8);
  --references-bg-0: rgb(235, 244, 255, 0);
  --references-text: #718096;
  --references-highlight: #4a5568;
}

/************ DARK MODE **************/

body.dark-mode {
  --main-bg: #000000;
  --note-bg: #0a0d11;
  --text: #fafafc;
  --separator: #252525;
  --shadow: rgba(255, 255, 255, 0.1);
  --link: #3da1ff;

  /* References */
  --references-bg: #17181a;
  --references-bg-80: rgba(23, 24, 26, 0.8);
  --references-bg-0: rgba(23, 24, 26, 0);
  --references-text: #8c9fbb;
  --references-highlight: #b3cbf0;
}
